@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scarpe & Scarpe</h1>
    <p class="h1">Benvenuto sul sito del rivenditore di scarpe NUMERO 1 IN ITALIA</p>
<p>Per vedere le nostre scarpe in bacheca attualmente disponbili alla rivendita</p>
<p>Clicca su Vetrina Scarpe</p>
<p>Scopri il nostro vasto assortimento delle calzature perfette per il tuov pidede.</p>
</div>
